/* Object selector */
body {
    background-color: grey;o
    margin-top: 10% ;
}
h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

/* Class selector */
.top_panel {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.intro_comment {
    text-align: center;
}

.my_name {
    font-family: 'DotGothic16', sans-serif;
}

.my_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 150;
  height: 200;
  border-radius: 100%;
}

.button {
    display: inline-block;
    backgroud-color: white;
    horizontal-align: middle;
    height: 10em;
    width: 10em;
}

.navbar-expand-lg {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding-left: 30%;
    padding-right: 25%;
}

.btn-primary:hover, .btn-success:hover{
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/
}
