video#bgvid {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
}

<style>* {
    box-sizing: border-box;
}
 
body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

.my_name {
    text-align: center;
}

.my_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    width: 150;
    height: 200;
    border-radius: 100%;
}

.intro_comment {
    text-align: center;
}

#myVideo {
    center: auto;
}

.name-navitem {
    color: white;
    text-decoration: none;
}

@media (max-width: 480px) {
    .name-navitem {
        color: white;
        text-decoration: none;
        font-size: 8px;
    }
}
.name-navitem:hover {
    color: white;
}

.nav-item:hover {
    color: rgb(91, 91, 253);
}

.navbar-expand-lg {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding-left: 30%;
    padding-right: 25%;
}

.btn-primary:hover,
.btn-success:hover {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e;
    /*set the color you want here*/
}

.content {
    position: fixed;
    top: 20%;
    color: #f1f1f1;
    width: 100%;
}

.navbar {
    margin: 2rem 10rem;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

#lab_social_icon_footer {
    padding: 40px 0;
}

#lab_social_icon_footer a {
    color: #333;
}

#lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}


/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
    color: grey;
}

#lab_social_icon_footer #social-gp:hover {
    color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
    color: #f39c12;
}