/* Class selector */

.btn-primary:hover,
.btn-success:hover {
    color: #fff;
    background-color: grey;
    border-color: grey;
    /*set the color you want here*/
}

.hoverable {
    display: inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
    text-decoration: none;
    color: white;
    ;
}

.hoverable:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(243, 248, 248, 0.35) 0%, rgba(240, 221, 221, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(233, 233, 236, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

.hoverable:hover,
.hoverable:active,
.hoverable:focus {
    transform: translateY(-5px);
    color: rgb(131, 122, 122);
}

.hoverable:hover:before,
.hoverable:active:before,
.hoverable:focus:before {
    opacity: 1;
    transform: translateY(-5px);
}

@keyframes bounce-animation {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

@media (min-width: 1208px) {
    .navbar {
        text-align: center !important;
        float: none;
        display: inline-block;
    }
}

body {
    background-color: black;
    font-weight: 600;
    text-align: center !important;
    color: white;
}

nav {
    background: none !important;
    text-transform: uppercase;
}

nav li {
    margin-left: 3em;
    margin-right: 3em;
}

nav li a {
    transition: 0.5s color ease-in-out;
}

.media_content {
    margin-top: 2%;
}