/* Class selector */

.btn-primary:hover,
.btn-success:hover {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e;
    /*set the color you want here*/
}

.hoverable {
    display: inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
    text-decoration: none;
    color: white;
    ;
}

.hoverable:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

.hoverable:hover,
.hoverable:active,
.hoverable:focus {
    transform: translateY(-5px);
}

.hoverable:hover:before,
.hoverable:active:before,
.hoverable:focus:before {
    opacity: 1;
    transform: translateY(-5px);
}

@keyframes bounce-animation {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

@media (min-width: 1208px) {
    .navbar {
        text-align: center !important;
        float: none;
        display: inline-block;
    }
}

body {
    background-color: black;
    font-weight: 600;
    text-align: center !important;
    color: white;
}

nav {
    background: none !important;
    text-transform: uppercase;
}

nav li {
    margin-left: 3em;
    margin-right: 3em;
}

nav li a {
    transition: 0.5s color ease-in-out;
}

.intro_comment {
    background-color: grey;
    margin: 2rem;
}

.QFT {
    height: 10rem;
    margin-top: 5rem;
}

.QFTimage {
    margin-top: 1%;
    position: absolute;
    width: 30%;
    height: inherit;
    margin-left: 10rem;
    margin-top: 3rem;
}

.QFTtext {
    margin-top: 1%;
    position: absolute;
    width: 30%;
    height: inherit;
    margin-left: 50rem;
    margin-top: 3rem;
}

.GR {
    height: 10rem;
    margin-top: 10rem;
}

.GRimage {
    position: absolute;
    width: 30%;
    height: inherit;
    margin-left: 10rem;
    margin-top: 3rem;
}

.GRtext {
    position: absolute;
    width: 30%;
    height: inherit;
    margin-left: 50rem;
    margin-top: 3rem;
}

.cx1 {
    background-color: red;
    height: 10rem;
    margin-top: 5rem;
}

.cx2image {
    position: absolute;
    background-color: green;
    width: 30%;
    height: inherit;
    margin-left: 10rem;
}

.cx2text {
    position: absolute;
    background-color: green;
    width: 30%;
    height: inherit;
    margin-left: 50rem;
}

.dx1 {
    background-color: red;
    height: 10rem;
    margin-top: 5rem;
}

.dx2image {
    position: absolute;
    background-color: green;
    width: 30%;
    height: inherit;
    margin-left: 10rem;
}

.dx2text {
    position: absolute;
    background-color: green;
    width: 30%;
    height: inherit;
    margin-left: 50rem;
}

.ex1 {
    background-color: red;
    height: 10rem;
    margin-top: 5rem;
}

.ex2image {
    position: absolute;
    background-color: green;
    width: 30%;
    height: inherit;
    margin-left: 10rem;
}

.ex2text {
    position: absolute;
    background-color: green;
    width: 30%;
    height: inherit;
    margin-left: 50rem;
}

.fx1 {
    background-color: red;
    height: 10rem;
    margin-top: 5rem;
}

.fx2image {
    position: absolute;
    background-color: green;
    width: 30%;
    height: inherit;
    margin-left: 10rem;
}

.fx2text {
    position: absolute;
    background-color: green;
    width: 30%;
    height: inherit;
    margin-left: 50rem;
}

.gx1 {
    background-color: red;
    height: 10rem;
    margin-top: 5rem;
}

.gx2image {
    position: absolute;
    background-color: green;
    width: 30%;
    height: inherit;
    margin-left: 10rem;
}

.gx2text {
    position: absolute;
    background-color: green;
    width: 30%;
    height: inherit;
    margin-left: 50rem;
}

.hx1 {
    background-color: red;
    height: 10rem;
    margin-top: 5rem;
}

.hx2image {
    position: absolute;
    background-color: green;
    width: 30%;
    height: inherit;
    margin-left: 10rem;
}

.hx2text {
    position: absolute;
    background-color: green;
    width: 30%;
    height: inherit;
    margin-left: 50rem;
}

.qft-course {
    position: static;
    margin-top: 10rem;
}

.gr-course {
    position: static;
    background-color: red;
    margin-top: 10rem;
}

.courses-info.image {
    position: absolute;
    background-color: blueviolet;
    width: 20%;
    height: 30%;
    margin-left: 10%;
}

.courses-info.text {
    position: absolute;
    width: 50%;
    height: 30%;
    margin-left: 32%;
}

.notesButton {
    color: black;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    color: black;
}

.notesUrl {
    text-decoration: none;
    color: white;
}

.notesUrl:hover {
    color: black;
}